:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --success-75: hsla(166, 63%, 50%, 75%);
  --success-50: hsla(166, 63%, 50%, 50%);
  --success-10: hsla(166, 63%, 50%, 10%);
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b2;
  --white: #ffffff;
  --card-set-gap: 24px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --mb-screen: 480px;
  --tb-screen: 768px;
  --dt-screen: 1200px;
}

/**
  |============================
  | reset start
  |============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | reset end
  |============================
*/

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white);
  font-size: 16px;
}

/**
  |============================
  | Header section
  |============================
*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;

  color: var(--dark);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .page-logo {
    line-height: calc(24 / 18);
  }
}

.page-logo-web {
  color: var(--primary-brand);
}

.menu {
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu {
    gap: 40px;
  }
}

.menu-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;

  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--dark);

  transition: color var(--transition-duration) var(--transition-timing-function);
}
.menu-link:focus,
.menu-link:hover {
  color: var(--pressed-state);
}

.menu-link.current {
  color: var(--pressed-state);
}

.menu-link.current::after {
  content: "";
  position: absolute;
  display: block;

  width: 100%;
  height: 4px;
  bottom: -1px;

  background-color: var(--pressed-state);
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
}

.contacts-list {
  display: flex;
  align-items: center;
  /* gap: 40px; */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    flex-direction: column;
    gap: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.contacts-link {
  line-height: 1.5;
  font-style: normal;

  letter-spacing: 0.02em;

  color: var(--text);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
}

.contacts-link:focus,
.contacts-link:hover {
  color: var(--pressed-state);
}

/**
  |============================
  | Hero section
  |============================
*/

.hero {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office_mb@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 112px 0;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_mb@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_tb@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_tb@2x.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_dt@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_dt@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-bottom: 108px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin: 0 auto;
  margin-bottom: 72px;

  color: var(--white);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin: auto;

    text-transform: none;

    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.modal-btn {
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);

  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-btn:hover {
  background-color: var(--pressed-state);
}

/**
  |============================
  | Services section
  |============================
*/

.services {
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .services {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .services-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .services-list {
    display: flex;
    gap: 24px;
  }
}

.services-item:not(:last-child) {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .services-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .services-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 8px;

  color: var(--dark);
}

@media screen and (min-width: 1200px) {
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    text-align: start;
    text-transform: none;
  }
}

.text {
  font-weight: 500;
  line-height: 1.5;

  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .text {
    font-weight: normal;
  }
}

.services-icon {
  display: none;
}

@media screen and (min-width: 1200px) {
  .services-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    text-align: center;
  }
}

/**
  |============================
  | Gallery section
  |============================
*/

.gallery {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery {
    display: block;
  }
}

.section-header {
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;

  color: var(--dark);
}

.gallery-list {
  display: flex;
  gap: 24px;
}

/**
  |============================
  | Team section
  |============================
*/

.team {
  padding-bottom: 128px;
  background: var(--light);
}

.team-list {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
}

.team-item {
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-item {
    margin: 0 auto;
    max-width: 264px;
  }
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc(100% / - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.team-card-content {
  text-align: center;
  padding: 32px 16px;
}

.team-card-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;

  letter-spacing: 0.02em;

  color: var(--dark);
}

.team-card-text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: white;
}

/**
  |============================
  | Customers section
  |============================
*/

.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .customers-list {
    row-gap: 72px;
  }
}

@media screen and (max-width: 767px) {
  .customers-list {
    column-gap: 16px;
  }
}
.customers-item {
  width: calc((100% - 16px) / 2);
}

@media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 232px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  fill: #8e8f99;

  transition: fill var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.customers-link:focus,
.customers-link:hover {
  fill: #404bbf;
  border: 1px solid #404bbf;
}

/**
  |============================
  | Footer section
  |============================
*/
.footer {
  background: var(--dark);
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 96px 0;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 72px;
  }
  .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .footer-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;

    font-weight: 500;

    color: var(--white);
  }
  .footer-input {
    width: 100%;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 100px 0;
  }
  .footer-section {
    display: flex;
  }
  .logo {
    margin-right: 120px;
  }
  .social-media {
    margin-right: 80px;
  }
  .footer-form {
    display: flex;
    align-items: end;
  }
  .footer-label {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-weight: 500;

    color: var(--white);
  }
  .footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    padding: 96px 0;
  }
  .footer-section {
    flex-wrap: wrap;
  }
  .logo {
    margin-right: 24px;
    margin-left: 93px;
    margin-bottom: 72px;
  }
  .subscribe {
    margin-left: 93px;
  }
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;

  margin-bottom: 16px;

  display: block;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light);
}

.footer-logo-web {
  color: var(--primary-brand);
}

.footer-text {
  line-height: 1.5;
  width: 264px;

  letter-spacing: 0.02em;

  color: var(--accent);
}

.footer-subheader {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--white);

  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff1a;
  border-radius: 50%;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: white;
}

.footer-input {
  background-color: transparent;
  height: 40px;
  padding: 8px 16px;
  margin-right: 24px;

  color: var(--white);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  outline: none;
}

.footer-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;

  cursor: pointer;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white);
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: var(--primary-brand);

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.footer-submit:hover {
  background-color: var(--pressed-state);
}

/**
  |============================
  | BACKDROP
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  padding: 72px 24px 24px;

  width: 408px;
  height: 584px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn-icon {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  margin-bottom: 24px;

  cursor: pointer;

  width: 24px;
  height: 24px;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}

.modal-btn-icon:hover {
  background-color: var(--pressed-state);
  fill: var(--white);
}

.modal-text {
  font-weight: 500;
  text-align: center;

  margin-bottom: 14px;

  color: var(--dark);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--subtle-text);

  margin-bottom: 4px;
}

.form-input {
  border: 1px solid #21212133;
  border-radius: 4px;
  padding: 8px 38px;
  outline: none;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form-field:focus-within .form-input {
  border: 1px solid #4d5ae5;
}
.form-field:focus-within .form-icon {
  fill: #4d5ae5;
}

textarea {
  resize: none;
}

.form-textarea {
  margin-bottom: 16px;
}

.textarea {
  padding: 8px 16px;

  border: 1px solid #21212133;
  border-radius: 4px;
}

.privacy-policy {
  display: flex;
  align-items: center;
  color: #757575;

  margin-bottom: 24px;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark);
  border-radius: 2px;

  margin-right: 8px;
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--pressed-state);
  background-color: var(--pressed-state);
  background-image: url(../images/icon/сheckbox.svg);
  background-size: contain;
  background-origin: border-box;
}

.form-link {
  color: var(--primary-brand);
}

.submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;

  min-width: 169px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);

  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);

  cursor: pointer;

  padding: 16px 32px;
}

.submit-btn:hover {
  background-color: var(--pressed-state);
}

/**
  |============================
  | Mobile Menu
  |============================
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  margin-bottom: 24px;

  cursor: pointer;

  width: 24px;
  height: 24px;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-left: 40px;
  background-color: var(--white);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--dark);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  position: relative;
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark);

  transition: color var(--transition-duration) var(--transition-timing-function);
}
.mobile-menu-link:focus,
.mobile-menu-link:hover {
  color: var(--pressed-state);
}

.mobile-menu-link.current {
  color: var(--pressed-state);
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--text);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.tel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;

  text-transform: capitalize;
}
.mobile-contacts-link:focus,
.mobile-contacts-link:hover {
  color: var(--pressed-state);
}

.mobile-social-list {
  display: flex;
  gap: 56px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-bottom: 40px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: #404bbf;
}

.mobile-social-icon {
  fill: white;
}

.mobile-menu-blocks {
  margin-top: auto;
}
/**
  |============================
  | Portfolio
  |============================
*/

.filters-menu {
  padding-top: 96px;
}

@media screen and (min-width: ) {
}

.filters-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filters-btn {
  padding: 12px 24px;
  font-weight: 500;

  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}
.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  border: 1px solid #e7e9fc;
  border-top: none;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-card-content {
  text-align: left;
  padding: 32px 16px;
}

.portfolio-card-heading {
  margin-bottom: 8px;
}

.portfolio-card-text {
  color: var(--text);
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.portfolio-card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: var(--light);
  background-color: var(--primary-brand);

  padding: 40px 32px 0 32px;

  transform: translateY(101%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-link:hover .overlay-text {
  transform: translateY(0);
}
